<header>
    <div class="inicio">
          <a href="./index.html"> <img class="navbrand" src="./assets/images/LOGOBOMBAESTEREO BLANCO.png" alt="logo" > </a>
            
             <nav>
                <ul>
                    <li class="redes"><a href="index.html">HOME</a> </li>
                    <li class="redes"><a href="./fotos/index.html">FOTOS </a> </li>
                    <li class="redes"><a href="https://es-la.facebook.com/BombaEstereo" target="_blank"> <img src="./assets/images/ICONOFBK.png" alt="iconoFBK" width="30px" height="30px"> </a></li>
                    <li class="redes"><a href="https://www.instagram.com/bombaestereo/?hl=es" target="_blank"> <img src="./assets/images/ICONOIG.png" alt="iconoIG" width="30px" height="30px"> </a></li>
                    <li class="redes"><a href="https://twitter.com/bombaestereo?lang=es" target="_blank"> <img src="./assets/images/ICONOTWT.png" alt="iconoTWT" width="30px" height="30px"> </a></li>
                </ul>
             </nav>
    </div>
</header>